<div class="container list pl-0 pr-0">

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 mt-3" *ngFor="let card of cards$ | async">
    <div class="card">
      <div class="card-body">
        <p class="card-text">{{card.text}}</p>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link" title="Show details"><i class="icon-eye"></i></a>
        <a href="#" class="card-link" title="Edit"><i class="icon-pencil"></i></a>
        <a href="#" class="card-link" title="Delete"><i class="icon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 mt-3">
    <div class="card ">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link" title="Show details"><i class="icon-eye"></i></a>
        <a href="#" class="card-link" title="Edit"><i class="icon-pencil"></i></a>
        <a href="#" class="card-link" title="Delete"><i class="icon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 mt-3">
    <div class="card ">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link" title="Show details"><i class="icon-eye"></i></a>
        <a href="#" class="card-link" title="Edit"><i class="icon-pencil"></i></a>
        <a href="#" class="card-link" title="Delete"><i class="icon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 mt-3">
    <div class="card ">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link" title="Show details"><i class="icon-eye"></i></a>
        <a href="#" class="card-link" title="Edit"><i class="icon-pencil"></i></a>
        <a href="#" class="card-link" title="Delete"><i class="icon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 mt-3">
    <div class="card ">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link" title="Show details"><i class="icon-eye"></i></a>
        <a href="#" class="card-link" title="Edit"><i class="icon-pencil"></i></a>
        <a href="#" class="card-link" title="Delete"><i class="icon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 mt-3">
    <div class="card ">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link" title="Show details"><i class="icon-eye"></i></a>
        <a href="#" class="card-link" title="Edit"><i class="icon-pencil"></i></a>
        <a href="#" class="card-link" title="Delete"><i class="icon-trash"></i></a>
      </div>
    </div>
  </div>
</div>
