:host {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.editCard {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

textarea {
  border-style: none;
  border-color: transparent;
  overflow: auto;
  outline: none;
  resize: none;
  height: 200px;
  width: 100%;
  background-color: rgb(250,250,250);
}
